body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #2196F3;
    --white: #fff;
    --darkgrey: #212121;
    --sonicsilver: #757575;
    --black: #000;
    --blackrock: #2F303A;
    --honeydew: #F5F4F4;
    --hoverblue: #188CE8;
    --ghostwhite: #F5F4FA;
    --whitesmoke: #F5F5F5;
}

/* navbar */
.header-container {
    padding: 24px 215px 25px;
    
}

header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    color: var(--black);
    text-decoration-line: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.navbar-title {
    background-color: var(--white);
}

.navbar-title-color {
    color: var(--blue);
}

.linkbar-list {
    color: var(--darkgrey);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.linkbar,
.footer-contact,
.focus-list,
.gallery-section-photo,
.details-section-list,
.about-section-list,
.our-team-list {
    list-style: none;
}

.linkbar-contact-list {
    color: var(--sonicsilver);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.linkbar-list:focus,
.linkbar-contact-list:focus {
     color: var(--blue);
}

.linkbar-list:hover,
.linkbar-contact-list:hover{
    color: var(--blue);
}


/* index main content section */
.index-main-content-section {
    background-color: var(--blackrock);
}

.hero-container {
   margin: 0 auto;
   padding: 200px 452px;
    
    
}

.content-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

/* index file button */
.index-btn {
    font-family: 'Roboto', sans-serif;
    background: var(--blue);
    color: var(--white);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
}

.index-btn:hover,
.index-btn:focus {
    background-color: var(--hoverblue);
}



/* section details */
.details-container {
  
    padding: 94px 215px;
}

.details-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--darkgrey);
    margin-bottom: 10px;
}

.details-section-content {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
}

.details-section,
.about-section {
    color: var(--whitesmoke);
}


/* section about */
.about-container {
    padding: 94px 215px;
}

.about-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 50px;
}

/* section our team  */
.our-team-container {
    padding: 94px 215px;
}

.our-team-section {
    background-color: var(--ghostwhite);
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 50px;
}

.our-team-content {
    background-color: var(--white);
}

.our-team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 10px;
}

.our-team-member-position {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
}


/* portfolio file css */
/* gallery section portfolio file */
.hidden-header {
    visibility: hidden;
}

.gallery-section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--darkgrey);
}

.gallery-section-content {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
}

/* focus section button */
.focus-btn-list {
    font-family: 'Roboto', sans-serif;
    background: var(--honeydew);
    color: var(--darkgrey);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.focus-btn-list:hover,
.focus-btn-list:focus {
    color: var(--white);
}

button:hover,
button:focus {
    background-color: var(--blue);
}


/* footer */
footer {
    background-color: var(--blackrock);
}

.footer-container {
    padding: 60px 215px;
}

.footer-logo-container {
    margin-bottom: 20px;
}

.footer-logo-title-color {
    color: var(--blue);
}

.footer-logo-link {
    text-decoration-line: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}

.footer-logo {
    color: var(--white);
}

.footer-address-list {
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-list-item {
    margin-bottom: 9px;
}

.footer-contact-list {
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
}

.footer-address {
    font-style: normal;
}
