*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #2196F3;
    --white: #fff;
    --darkgrey: #212121;
    --sonicsilver: #757575;
    --black: #000;
    --blackrock: #2F303A;
    --honeydew: #F5F4F4;
    --hoverblue: #188CE8;
    --ghostwhite: #F5F4FA;
    --whitesmoke: #F5F5F5;
}

/* navbar */
.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--black);
    text-decoration-line: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 97px;
}

.navbar-title {
    background-color: var(--white);
    display: flex;
}

.navbar-title-color {
    color: var(--blue);
}

.linkbar {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.linkbar .linkbar-item {
    margin-right: 53px;
}

.linkbar .linkbar-item:last-child {
    margin-right: 0;
}

.linkbar-list {
    position: relative;
    color: var(--darkgrey);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkbar-contacts {
    display: flex;
    margin-left: auto;
}

.envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    
}

.linkbar-contact-list:hover,
.linkbar-contact-list:focus {
    color: var(--blue);
}

.linkbar-contact-list:hover .envelope-icon,
.linkbar-contact-list:focus .envelope-icon {
    fill: var(--blue);
}

.linkbar-contact-list:hover .phone-icon,
.linkbar-contact-list:focus .phone-icon {
    fill: var(--blue);
}

.phone-icon {
    width: 12px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
}

.linkbar-contacts .linkbar-item-contact + .linkbar-item-contact {
    margin-left: 50px;
}

.linkbar,
.footer-contact,
.focus-list,
.gallery-section-photo,
.details-section-list,
.about-section-list,
.our-team-list {
    list-style: none;
}

.linkbar-contact-list {
    color: var(--sonicsilver);
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkbar-list:hover,
.linkbar-list:focus {
    color: var(--blue);
} 

.linkbar-list.current {
    position: relative;
    color: var(--darkgrey);
}

.current.linkbar-list {
    color: var(--blue);
}

.current::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--blue);
    border-radius: 2px;
}


/* index main content section */
.index-main-content-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('./../images/cover_title_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1600px;
    margin: 0 auto;
}

.content-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 696px;
}

/* index file button */
.index-btn {
    font-family: 'Roboto', sans-serif;
    background: var(--blue);
    color: var(--white);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin: 0 auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.index-btn:hover,
.index-btn:focus {
    background-color: var(--hoverblue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Modal Window */
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%);
    
}

.modal-close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-close-icon {
    width: 11px;
    height: 11px;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: var(--blue);
}

.modal-close-icon:hover {
    fill: var(--blue);
}

/* section details */
.details-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-icon {
    width: 65.32px;
    height: 70px;
}

.details-section-item {
    flex-basis: calc((100% - 90px) / 4);
}

.details-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #F5F4F4;
}

.details-section-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--darkgrey);
    margin-bottom: 10px;
}

.details-section-list {
    display: flex;
    gap: 30px;
}

.details-section-content {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
}

.details-section,
.about-section,
.customers-section {
    color: var(--whitesmoke);
}


/* section about */
.about-section {
    padding-bottom: 94px;
}

.about-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 50px;
}

.about-section-list {
    display: flex;  
    gap: 30px;
}

.about-item {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
}

.about-item-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    padding: 27px 132px;
    background-color: rgba(47, 48, 58, 0.8);
}

.overlay-about {
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    white-space: nowrap;
}

/* section our team  */
.our-team-section {
    background-color: var(--ghostwhite);
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 50px;
}

.our-team-list {
    display: flex; 
    gap: 30px;
}

.our-team-content {
    background-color: var(--white);
    flex-basis: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.pic {
    margin-bottom: 30px;
}

.our-team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 10px;
    text-align: center;
}

.our-team-member-position {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
    margin-bottom: 16px;
    text-align: center;
}

.our-team-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.our-team-social-item {
    width: 44px;
    height: 44px;
}

.our-team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover,
.our-team-social-link:focus {
    background-color: #2196F3;
}

.our-team-social-link:hover .our-team-social-icon,
.our-team-social-link:focus .our-team-social-icon {
    fill: #fff;
}

.our-team-social-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section customers */
.customers-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkgrey);
    margin-bottom: 50px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.customers-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover {
    fill: var(--blue);
}

.customers-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: #FFFFFF;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-social-link:hover,
.customers-social-link:focus {
    border: 1px solid #2196F3;
}

.customers-social-link:hover .customers-icon,
.customers-social-link:focus .customers-icon{
    fill: var(--blue);
}


/* PORTFOLIO FILE CSS */
/* gallery section portfolio file */

.gallery-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gallery-section-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallery-section-item {
    flex-basis: calc((100% - 60px) / 3);
}

.gallery-section-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--darkgrey);
}

.gallery-section-content {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
}

.gallery-bottom-frame {
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
}

.gallery-section-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 91px;
    padding-left: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-section-link-wrapper:hover .overlay,
.gallery-section-link-wrapper:focus .overlay {
    transform: translateY(0%);
}

.gallery-section-item:hover .overlay,
.gallery-section-item:focus .overlay {
    transform: translateY(0%);
}

/* focus section button */
.focus-list {
    margin-bottom: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.focus-btn-list {
    font-family: 'Roboto', sans-serif;
    background: var(--honeydew);
    color: var(--darkgrey);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
    padding: 6px 26px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.focus-btn-list:hover,
.focus-btn-list:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* footer */
footer {
    background-color: var(--blackrock);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo-address {
    display: flex;
    align-items: baseline;
}

.footer-logo-title-color {
    color: var(--blue);
}

.footer-logo-link {
    text-decoration-line: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}

.footer-logo {
    color: var(--white);
}

.footer-address {
    margin-top: 20px;
}

.footer-address-list {
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-logo-address-container {
    margin-right: 70px;
}

.footer-list-item {
    margin-bottom: 9px;
}

.footer-contact-list {
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
}

.footer-address {
    font-style: normal;
}

.footer-find-us {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 20px;
}

.footer-social-container {
    justify-content: center;
}

.footer-social {
    display: flex;
}

.footer-social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-social .footer-social-item:last-child {
    margin-right: 0;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #2196F3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
    fill: #fff;
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
