/* footer */

footer {
    background-color: var(--blackrock);
    padding-top: 60px;
    padding-bottom: 60px;
}

// .footer-logo-address-container {
//     margin-bottom: 60px;
// }

.footer-logo-title-color {
    color: var(--blue);
}

.footer-logo-link {
    text-decoration-line: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-logo {
    color: var(--white);
}

.footer-address-list {
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-list-item {
   
    margin-bottom: 8px;
}

.footer-contact {
    text-align: center;
    // margin-bottom: 48px;
}

.footer-contact-list {
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6)
}

.footer-address {
    font-style: normal;
}

.footer-find-us {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}

.footer-social-container {
    margin-bottom: 60px;
}

.footer-social {
    display: flex;
    justify-content: center;
    // margin-bottom: 60px;
}

.footer-social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-social .footer-social-item:last-child {
    margin-right: 0;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
    background-color: var(--blue);
}

&:hover .footer-social-icon,
&:focus .footer-social-icon {
    fill: var(--white);
    }
}

.footer-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--white);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}

.subscribe-footer {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 16px;
    margin-right: 12px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;


&::placeholder {
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.6);
}

&:focus {
    outline: 1px solid var(--blue);
    }
}

.footer-subscribe-button {
    width: 200px;
    height: 50px;
    background-color: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    color: var(--white);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin: 0 auto;

&:hover,
&:focus {
    background-color: var(--hoverblue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

.subscribe-icon {
    width: 24px;
    height: 24px;
    fill: var(--white);
    margin-left: 10px;
}


/* TABLET STYLING */

@media screen and (min-width: 768px) and (max-width: 1199px) {

// .footer-logo-address-container {
//     display: inline-block;
// }

.footer-address-social-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 50px;
}

.subscribe-form {
    display: grid;
    justify-content: center;
}

.subscribe-footer {
    width: 450px;
}
}

/* DESKTOP STYLING */

@media screen and (min-width: 1200px) {
footer{
    background-color: var(--blackrock);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address-social-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-address {
    display: flex;
    align-items: baseline;
}

.footer-logo-title-color {
    color: var(--blue);
}

.footer-logo-link {
    display: block;
}

.footer-logo-address-container {
    margin-right: 70px;
}

.footer-contact {
    text-align: inherit;
}

.footer-social-container {
    justify-content: center;
    margin-right: 93px;
}

.footer-find-us {
    text-align: inherit;
}

.subscribe-form {
    display: flex;
}

.subscribe-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: inherit;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}

.subscribe-footer {
    width: 358px;
}

}








// footer {
//     background-color: var(--blackrock);
//     padding-top: 60px;
//     padding-bottom: 60px;
// }

// .footer-logo-address {
//     display: flex;
//     align-items: baseline;
// }

// .footer-logo-title-color {
//     color: var(--blue);
// }

// .footer-logo-link {
//     text-decoration-line: none;
//     font-family: 'Raleway', sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.2;
//     letter-spacing: 0.03em;
    
// }

// .footer-logo {
//     color: var(--white);
// }

// .footer-address {
//     margin-top: 20px;
// }

// .footer-address-list {
//     text-decoration-line: none;
//     font-size: 14px;
//     line-height: 1.7;
//     letter-spacing: 0.03em;
//     color: var(--white);
// }

// .footer-logo-address-container {
//     margin-right: 70px;
// }

// .footer-list-item {
//     margin-bottom: 9px;
// }

// .footer-contact-list {
//     text-decoration-line: none;
//     font-size: 14px;
//     line-height: 1.7;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6)
// }

// .footer-address {
//     font-style: normal;
// }

// .footer-find-us {
//     text-transform: uppercase;
//     font-size: 14px;
//     font-weight: 700;
//     color: var(--white);
//     margin-bottom: 20px;
// }

// .footer-social-container {
//     justify-content: center;
//     margin-right: 93px;
// }

// .footer-social {
//     display: flex;
// }

// .footer-social-item {
//     width: 44px;
//     height: 44px;
//     margin-right: 10px;
// }

// .footer-social .footer-social-item:last-child {
//     margin-right: 0;
// }

// .footer-social-link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(255, 255, 255, 0.1);
//     border-radius: 50%;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


// &:hover,
// &:focus {
//     background-color: var(--blue);
// }

// &:hover .footer-social-icon,
// &:focus .footer-social-icon {
//     fill: var(--white);
//     }
// }

// .footer-social-icon {
//     width: 20px;
//     height: 20px;
//     fill: var(--white);
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .subscribe-form {
//     display: flex;
// }

// .subscribe-title {
//     display: block;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.5;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--white);
//     margin-bottom: 20px;
// }

// .subscribe-footer {
//     width: 358px;
//     height: 50px;
//     background: transparent;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     padding: 15px 16px;
//     margin-right: 12px;
//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


// &::placeholder {
//     letter-spacing: 0.03em;
//     font-size: 16px;
//     line-height: 1.3;
//     color: rgba(255, 255, 255, 0.6);
// }

// &:focus {
//     outline: 1px solid var(--blue);
//     }
// }

// .footer-subscribe-button {
//     width: 200px;
//     height: 50px;
//     background-color: var(--blue);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.9;
//     color: var(--white);
//     border: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     cursor: pointer;

// &:hover,
// &:focus {
//     background-color: var(--hoverblue);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     }
// }

// .subscribe-icon {
//     width: 24px;
//     height: 24px;
//     fill: var(--white);
//     margin-left: 10px;
// }
