/* PORTFOLIO FILE */
/* gallery section portfolio file */

.gallery-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.gallery-section-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100;
}

.gallery-section-item {
    flex-basis: calc((100% - 60px) / 3);

&:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.gallery-section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--darkgrey);
}

.gallery-section-content {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--sonicsilver);
}

.gallery-bottom-frame {
    border: 1px solid var(--verylightgrey);
    border-top: none;
    padding: 20px 24px;
}

.gallery-section-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 91px;
    padding-left: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    // overflow: auto;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--white);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-section-link-wrapper:hover .overlay,
.gallery-section-link-wrapper:focus .overlay {
    transform: translateY(0%);
}

.gallery-section-item:hover .overlay,
.gallery-section-item:focus .overlay {
    transform: translateY(0%);
}


/* TABLET STYLING */

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .tablet-margin {
        margin-bottom: 37px;
    }

    .gallery-section-photo {
    justify-content: inherit;
    }
}





















// .gallery-section {
//     padding-top: 94px;
//     padding-bottom: 94px;
// }

// .gallery-section-photo {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 30px;
// }

// .gallery-section-item {
//     flex-basis: calc((100% - 60px) / 3);

// &:hover {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//     }
// }

// .gallery-section-title {
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;
//     color: var(--darkgrey);
// }

// .gallery-section-content {
//     font-size: 16px;
//     line-height: 1.9;
//     letter-spacing: 0.03em;
//     color: var(--sonicsilver);
// }

// .gallery-bottom-frame {
//     border: 1px solid var(--verylightgrey);
//     border-top: none;
//     padding: 20px 24px;
// }

// .gallery-section-img-wrapper {
//     position: relative;
//     overflow: hidden;
// }

// .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     padding-top: 63px;
//     padding-right: 24px;
//     padding-bottom: 91px;
//     padding-left: 24px;
//     background-color: rgba(33, 150, 243, 0.9);
//     // overflow: auto;
//     font-size: 18px;
//     line-height: 1.6;
//     letter-spacing: 0.03em;
//     color: var(--white);
//     transform: translateY(100%);
//     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .gallery-section-link-wrapper:hover .overlay,
// .gallery-section-link-wrapper:focus .overlay {
//     transform: translateY(0%);
// }

// .gallery-section-item:hover .overlay,
// .gallery-section-item:focus .overlay {
//     transform: translateY(0%);
// }