:root {
    --blue: #2196F3;
    --white: #fff;
    --darkgrey: #212121;
    --sonicsilver: #757575;
    --black: #000;
    --blackrock: #2F303A;
    --honeydew: #F5F4F4;
    --hoverblue: #188CE8;
    --ghostwhite: #F5F4FA;
    --whitesmoke: #F5F5F5;
    --verylightgrey: #EEEEEE;
    --philippinesilver: #AFB1B8;
    --brightgrey: #ECECEC;
}